   h1 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  li {
    list-style: none;
    margin-left: 32.5%;
    margin-right: -32.5%;
    display: inline-block;
   }

   .lista {
    margin-left: 28px;
   }

   .first {
    background-color: rgb(235, 200, 84);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 200px;
    display: block;
    margin-left: 815px;
  }

  .second {
    background-color: rgb(219, 219, 219);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    display: inline-block;
    margin-left: 615px;
    margin-right: auto;
  }

  .third {
    background-color: rgb(170, 142, 106);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    display: inline-block;
    margin-left: auto;
    margin-right: 300;
  }












